<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <section class="form">
        <figure >
          <img src="./img/Moby_Logo06.png" alt="Minha Figura"/>
        </figure>
        <div class="form-group">
          <label for="nome">E-mail</label>
          <input type="email" id="email" name="email" placeholder="Digite seu e-mail..." required />
        </div>
        <div class="form-group">
          <label for="nome">Senha</label>
          <input type="password" id="password" name="senha" placeholder="Digite sua senha..." required />
        </div>
        <div class="form-group">
          <button type="button" id="escalation" class="next-button" onclick="nextStep(0)">
            Entrar
          </button>
        </div>
        <div class="form-group">
          <button type="button" class="register-button" onclick="nextStep(0)">
            Administrador
          </button>
        </div>
      </section>
    </div>
    <script src="script.js"></script>
  </body>
</html>
